body {
    font-size: 100%;     /* flexible baseline */
    /*line-height: 1.4;*/
    margin-left: 15%;
    font-family: Arial, sans-serif;
    background-color: #000;
      }

.imagedetails { 
          margin-left:2%;
          float: left;
                }

img { 
      float:left;
      margin-left: 0px;
        }

.tag { 
      color: white;
      font-size: 100%; 
      font-style: italic;
      background-color: black;
      font-family: arial, helvetica, sans-serif;
      padding-top: 290px;
      padding-bottom: 60px;
      max-width:80%;
      }

ul li {
      display:inline;
      }

.navbar {
      max-width: 100%;
      background-color: #000;
      overflow: auto;
      align: left;
      margin-top: 100px;
        }
  
/* Navigation links */
.navbar a {
        float: left;
        color: cyan;
        padding: 9px;
        font-size: 20px;
        font-weight: bold;
        width: 11%;
          } 

.navbar a:hover {
        background-color:#000;
        color: green;
        font-weight:normal;
        font-style: italic;
        
                }

.navbar a.active {
        background-color: #000;
        color: silver;
 
    }

/*.flex-container {
            display: flex;
               }*/

.flex-container > div {
        background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
            flex-wrap: wrap-reverse;

                      }

.flex-container {
         display: flex;
         background-color: black;
         justify-content: center;
                }

.flex-container > div {
        background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
}*/

@media screen and (max-width: 600px) {
  .navbar a {
    float: right;
    display: block;
    width:100%;
    text-align: right;
  }
  
  .imagewcaption:{
    float: clear-left;
  }
}
  
  @media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav {
    width:100%;
  }
  .nav-item {
    width:100%;
    float:none;
  }


