/**
 * index.css
 * - Add any styles you want here!
 */

body {
  margin: 0;
  font-family: Arial;
  background-color: black;
      }


  p {
  text-align:center;
  font-family:sans-serif;
    }
   
ul  {
  display: table
    }
    
 li {
   display: table-cell
      }


/* Might use these later just testing things.*/

/*html {
    background-color: #000000;
    }*/
    
/*.one {
  height: auto;
  width: auto;
}

.two {
  height: auto;
  width: 130%;
}*/
